* { box-sizing: border-box; }

BODY { background: url(https://www.ecopetit.cat/iconpics/f/31/318955/kh3-wallpaper.jpg) center fixed no-repeat}

body {
  /* fondo de pantalla*/
  background-repeat: no-repeat;
  background-size: cover;
}


.item {
  position: relative;
  float: left;
  border: thin solid white;
}

h1 {
  /*titulo de la pagina*/
  color: white;
  text-align: center;
  font-size: 3em;
}
h2 {
  color: white;
  text-align: ;
  font-size:
}
h3 {
  color: white;
  text-align:
  font-size:
}
#menu {
  border: thin solid black;
  font-size: 2em
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid black;
}
.submenu { display: none;}

.item:hover > .submenu {

  position: absolute;
  display: block;
  width: auto;
}
.item {
  color: white;

}
div {
  color: white;
}
content-box-white {
  font-size: 2em
}

